---
import Layout from '../layouts/Layout.astro';
import Cards from '../components/Cards.svelte';

const systems = await fetch("http://localhost:5000/api/systems").then(res => res.json());
---

<Layout title="TTRPG Compass">
	<main class="flex flex-col flex-wrap justify-center items-center w-11/12">
		<Cards {systems} client:load/>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
	}
</style>
