---
import '@fontsource/italiana';
import '@fontsource/poiret-one';
import '@fontsource/metropolis';
import '@fontsource-variable/raleway';
import '@fontsource-variable/cinzel';

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon_bg.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="text-off-white">
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		height: 100%;
	}
	body {
		height: 100%;
    	margin: 0;
		background: hsla(204, 31%, 10%, 1);
		background: linear-gradient(135deg, hsla(204, 31%, 10%, 1) 20%, hsla(193, 23%, 12%, 1) 80%);
		background: -moz-linear-gradient(135deg, hsla(204, 31%, 10%, 1) 20%, hsla(193, 23%, 12%, 1) 80%);
		background: -webkit-linear-gradient(135deg, hsla(204, 31%, 10%, 1) 20%, hsla(193, 23%, 12%, 1) 80%);
		filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#111A20", endColorstr="#172225", GradientType=1 );
		background-repeat: no-repeat;
    	background-attachment: fixed;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
